<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="这是宋春林的个人独立博客，内容包括个人生活、一些评论、闲扯杂谈和专业学习等。">
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/favicon.png">
    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/cn/media/css/style.css">
    <link rel="stylesheet" href="/cn/media/css/highlight.css">
    <script type="text/javascript" src="/cn/media/js/jquery-1.7.1.min.js"></script>
  </head>

  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1><center><a class="" href="{{ site.url }}/">北河以北</a></center></h1>  
        </header>
        <center> <ul class="nav pills">
        <li><a title="主站" class="" href="http://songchunlin.net" target="_blank">主页</a></li>
        <li><a title="文章列表" class="" href="{{ site.url }}/archive/">归档</a></li>
        <li><a title="文章分类" class="" href="{{ site.url }}/categories/">分类</a></li>
        <li><a title="关于我和博客" class="" href="{{ site.url }}/about/">关于</a></li>
        <li><a title="个人简历" class="" href="{{ site.url }}/vitae/">简历</a></li>
        <li><a title="论文著作" class="" href="{{ site.url }}/publication/">发表</a></li>
        <li><a title="各种链接" class="" href="{{ site.url }}/links/">链接</a></li>

       </ul> </center>

        <article class="content">
        {{ content }}
        </article>
          <div><script>
  (function() {
    var cx = '006295899379521077361:pwotjnjztng';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>
      </div>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-49016899-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    </body>
    
<footer><p><small><center>
              <a href="http://songchunlin.net/en" title="宋春林的英文站点" target="_blank">英文</a> :: 
              <a href="http://www.zhihu.com/people/songcl" title="宋春林的知乎" target="_blank">知乎</a> :: 
              <a href="http://weibo.com/songchunlin" title="宋春林的微博" target="_blank">微博</a> :: 
              <a href="http://www.douban.com/people/iamscl/" title="宋春林的豆瓣" target="_blank">豆瓣</a> :: 
              <a href="https://500px.com/songchunlin" title="宋春林的摄影相册" target="_blank">500px</a> :: 
              <a href="https://github.com/songchunlin" title="宋春林的 GitHub" target="_blank">GitHub</a> :: 
              <a href="https://www.researchgate.net/profile/Chunlin_Song4" title="宋春林的 ResearchGate" target="_blank">ResearchGate</a> ::
              <a href="http://songchunlin.net/cn/feed/" title="RSS 订阅" target="_blank" >RSS</a>
            </center></small></p>
</footer>
</html>
