---
layout: default
---

<h2>
  <center>{{ page.title }}</center>
</h2>
<h5>文/<a href="http://songchunlin.net/">宋春林</a></h5>
<section class="post">
{{ content }}
</section>
<section class="meta">
<span class="author">
  <a>发表于</a>
</span>
<span class="time">
  
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
<br />

{% if page.categories %}
<span class="categories">
  分类
  {% for cat in page.categories %}
  <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags %}
<span class="tags">
  标签 
  {% for tag in page.tags %}
  <a href="{{ site.url }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
</section>

<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
var cloudTieConfig = {
  url: document.location.href, 
  sourceId: "{{ page.url }}",
  productKey: "c56becf43a6e4b599172da6b87515394",
  target: "cloud-tie-wrapper"
};
var yunManualLoad = true;
Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>

<div id="comments">
  {% case page.comment_count %}
    {% when 0 %}
    {% when 1 %}
      <h2>1 条评论</h2>
    {% else %}
      <h2>{{page.comment_count}} 评论</h2>
  {% endcase %}
  {% for c in page.comments %}
    <div class="comment {% cycle 'odd', 'even' %}">
      <p class="comment_header">
        From: {% if c.link and c.link != '' %}
          <a href="{{c.link}}">{{c.name}}</a>
        {% else %}
          {{c.name}}
        {% endif %}
        <br />
        <span class="comment_date">{{c.date}}</span>
      </p>
      <p>
        {{c.comment | newline_to_br}}
      </p>
    </div>
  {% endfor %}
  <form id="commentform" method="POST" action="{{site.url}}/commentsubmit.php">
    <input type="hidden" name="post_id" value="{{page.id}}" />
    <input type="hidden" name="return_url" value="{{site.url}}{{page.url}}" />
    <table>
      <tr>
        <th>名字:</th>
        <td><input type="text" size="25" name="name" /> (必填)</td>
      </tr>
      <tr>
        <th>E-mail:</th>
        <td><input type="text" size="25" name="email" /> (必填, 不公开)</td>
      </tr>
      <tr>
        <th>网址:</th>
        <td><input type="text" size="25" name="link" /> (选填)</td>
      </tr>
      <tr>
        <td colspan="2"><textarea name="comment" rows="10" cols="60" ></textarea></td>
      </tr>
      <tr>
        <td><input type="submit" name="submit" value="发布" size="20"/></td>
      </tr>
    </table>
  </form>
</div>


{% if page.comments %}
{% include comments.md %}                                  
{% endif %}

<script type="text/javascript">
$(function(){
  $(document).keydown(function(e) {
    if (e.target.nodeName.toUpperCase() != 'BODY') return;
    var url = false;
        if (e.which == 37 || e.which == 74) {  // Left arrow and J
            {% if page.previous %}
        url = '{{ site.url }}{{ page.previous.url }}';
        {% endif %}
        }
        else if (e.which == 39 || e.which == 75) {  // Right arrow and K
            {% if page.next %}
        url = '{{ site.url }}{{ page.next.url }}';
        {% endif %}
        }
        if (url) {
            window.location = url;
        }
  });
})
</script>

<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script>
MathJax.Hub.Config({
    tex2jax: {
		skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
	}
});
MathJax.Hub.Queue(function() {
	var all = MathJax.Hub.getAllJax(), i;
	for(i=0; i < all.length; i += 1) {
		all[i].SourceElement().parentNode.className += ' has-jax';
	}
});
</script>
